html, body{
    margin: 0;
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    min-width: 960px;
}

#story-container{
    vertical-align: middle;
}
#story{
    color: #1a1a1a;
}
#splash-title{
    font-size: 30px;
    color: #1a1a1a;
}
.land {
    fill: #f7f7f7;
    stroke: #ccc;
}

.state-boundary {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;

}

.circle{
    display:block;
    fill: #094cbf;
}
.circle :hover{
    fill: yellow;
    stroke: yellow;
}

#map-container{
    margin: auto;
}

#date, #play, #slider-container{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

#date{
    border-left: 5px solid #ccc;
    padding: 3px 0 3px 10px;
    margin-left: 60px;
    color: #333;
}
#date p{
    margin: 0;
}
#date p:first-child{
    color: #999;
    font-size: 11px;
    line-height: 13px;
}
#date p#month{
    font-size: 30px;
    line-height: 30px;
}
#date p#month span{
    float: left;
    width: 2.55em;
}

#play{
    width: 53px;
    height: 53px;
    background-image: url(../images/play.png);
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

#play:hover{
    background-position: 0 -53px;
}

#play.pause{
    background-image: url(../images/pause.png);
}
#slider-container{
    position: relative;
}

#slider-div{
    margin-left: 65px;
    margin-top: 10px;
}

#slider-probe{
    position: absolute;
    top: -20px;
    font-size: 12px;
    width: 70px;
    margin-left: -35px;
    z-index: 50;
    display: none;
}

#slider-probe p{
    margin: 0;
    width: 100%;
    text-align: center;
    height: 15px;
}

#slider-probe div{
    height: 15px;
    margin-left: 35px;
    border-left: 1px solid #999;
}

#county-name{
    /*font-size: 30px;*/
    /*margin-left: 100px;*/
    color: white;
}


.probe{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}


#probe strong{
    font-size: 16px;
}

#probe span{
    color: #999;
}

#legend text{
    font-size: 12px;
}

svg text{
    fill: #666;
}

h1, h2, #intro{
    text-align: center;
    font-weight: normal;
}
h1{
    font-size: 30px;
    margin: 20px;
    color: #1a1a1a;
}
h2{
    font-size: 18px;
    color: #999;
    margin: 15px;
}

#title{
    color: #ffffff;
}

#intro{
    width: 800px;
    margin: auto;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 18px;
}

#source{
    color: #999;
    font-size: 12px;
    margin-left: 60px;
    margin-top: 20px;
}

#axis-maps{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
}

#loader{
    width: 100%;
    background: rgba(255,255,255,.75) url(../images/ajax-loader.gif) no-repeat center center;
    position: absolute;
    z-index: 500;
}

.counties {
    fill: none;
}
.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

path {
    fill: #ccc;
    /*stroke: #fff;*/
    stroke: black;
    stroke-width: .5px;
}

.axis path {
    fill: none;
    stroke-width: 1px;
    stroke: #999;
}
.axis .tick line{
    stroke: #999;
}

.axis .tick text{
    font-size: 14px;
    stroke: #999;
    stroke-fill: #999;
}

.d3-tip {
    line-height: 1;
    /*font-weight: bold;*/
    font-size: 10pt;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

body {
    font-family: 'PT Sans', sans-serif;
}
svg {
    font: 10px sans-serif;
    width: 100%;
}
.bar {
    cursor: pointer;
}
.bar rect {
    fill: #094cbf;
}
.bar :hover {
    fill: yellow ;
}
.line {
    fill: none;
    stroke: #094cbf;
    stroke-width: 2px;
}
.area {
    fill: #514c76;
    clip-path: url(#clip);
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/ajax-loader.gif) center no-repeat #fff;
}

/*.hoverCounty{*/
    /*fill: red;*/
/*}*/

/*.temp{*/
    /*fill: blue;*/
/*}*/

#counties .q04183C { fill:#04183C; }
#counties .q052356 { fill:#052356; }
#counties .q073a92{ fill:#073a92; }
#counties .q0f51c4 { fill:#0f51c4; }
#counties .q2769d9 { fill:#2769d9; }
#counties .q4681e6 { fill:#4681e6; }
#counties .q6c9bec { fill:#6c9bec; }
#counties .qa7c3f4 { fill:#a7c3f4; }
#counties .qeaf1fe { fill:#eaf1fe; }
#counties .qNone-9 {fill:grey;}

#counties :hover {fill: yellow;}
#counties .active { fill: red; }


#proximity-circle{
    opacity: 0.4;
}

#proximity-circle .proximity-hidden{
    opacity: 0.0;
}

/*#proximity-circle :hover{*/
    /*stroke: yellow;*/
/*}*/

#toggle{
    font-size: 16px;
    color: #094cbf;
    margin-left: 100px;
}

.graphtitle{
    font-size: 16px;
    fill:#999;
    font-weight:bold;
}


#play{
    width: 53px;
    height: 53px;
    background-image: url(../images/play.png);
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

#play:hover{
    background-position: 0 -53px;
}

#play.pause{
    background-image: url(../images/pause.png);
}



#col-sm-6 .sliderRange{
    font-size: 20px;
    fill:white;
}


@font-face {
    font-family: SnowText;
    src: url(FROSW___.TTF);
}
.snowText { font-family: SnowText }








